extends ../../../layouts/default.pug

block main
    .block-main
        if(Role.quyen == "staff")
            .display-flex
                .btn-actions
                    a(
                        href= `${prefixadmin}/profile-medical`  
                        class="item-action" 
                    ) <i class="fa-solid fa-arrow-left"></i>
                h3(class="mb-4" style="padding-top: 8px; font-weight: 400") Lịch hẹn khám bệnh: #{userInfo.fullName} - #{userInfo.phone}
            .card.mb-3
                table.table
                    thead(class="card-header")
                        tr(class="table-active")
                            th Ngày đặt
                            th Ngày khám
                            th Giờ dự kiến
                            th Chuyên khoa
                            th Bác sĩ
                            th Trạng thái
                            th Hành động
                    tbody
                        each appoinment in updateAppointments
                            tr 
                                td #{moment(appoinment.createdAt).format("hh:mm:ss a DD/MM/YYYY  ")} 
                                td #{moment(appoinment.date).format("DD/MM/YYYY")} 
                                td #{appoinment.time}
                                td ..
                                td #{appoinment.doctorName}
                                td #{appoinment.status}
                                td 
                                    .btn-actions
                                        a(
                                            href= `${prefixadmin}`  
                                            class="item-action" 
                                        ) <i class="fa-regular fa-pen-to-square"></i>
                                        a(
                                            href= `${prefixadmin}`  
                                            class="item-action" 
                                        ) <i class="fa-regular fa-eye"></i>
                            