extends ../../../layouts/default.pug

block main
    .block-main
        if(Role.quyen == "staff")
            .display-flex
                .btn-actions
                    a(
                        href= `${prefixadmin}/profile-medical`  
                        class="item-action" 
                    ) <i class="fa-solid fa-arrow-left"></i>
                h3(class="mb-4" style="padding-top: 8px; font-weight: 400") Lịch hẹn khám bệnh: #{userInfo.fullName} - #{userInfo.phone}
            .card.mb-3
                table.table
                    thead(class="card-header")
                        tr(class="table-active")
                            th Ngày đặt
                            th Ngày khám
                            th Giờ dự kiến
                            th Chuyên khoa
                            th Bác sĩ
                            th Trạng thái
                            th Hành động
                    tbody
                        each appoinment in updateAppointments
                            tr 
                                td #{moment(appoinment.createdAt).format("hh:mm:ss a DD/MM/YYYY  ")} 
                                td #{moment(appoinment.date).format("DD/MM/YYYY")} 
                                td #{appoinment.time}
                                td #{appoinment.departmentName}
                                td #{appoinment.doctorName}
                                td 
                                    if(appoinment.status == "booked")
                                        div(class="booked") Đã đặt
                                td 
                                    - var currentTime = moment()
                                    - var appointmentDate = moment(appoinment.date, "DD/MM/YYYY") 
                                    - var appointmentTime = moment(appoinment.time, "HH:mm")       
                                    - var appointmentDateTime = appointmentDate.clone().hour(appointmentTime.hour()).minute(appointmentTime.minute())
                                    - var diffMinutes = appointmentDateTime.diff(currentTime, 'minutes')
                                    if diffMinutes > 120
                                        .btn-actions
                                            a(
                                                href= `${prefixadmin}/profile-medical/appointment/${appoinment._id}/edit`  
                                                class="item-action" 
                                            ) <i class="fa-regular fa-pen-to-square"></i>
                                            form(
                                                action=`${prefixadmin}/profile-medical/appointment/${appoinment._id}?_method=DELETE`
                                                class="hidden-form" 
                                                method='POST'
                                            ) 
                                                button(
                                                    type="submit"
                                                    class="item-action" 
                                                    onclick="return confirm('Bạn có chắc chắn muốn hủy lịch hẹn không?')"
                                                ) <i class="fa-regular fa-trash-can"></i> 
                                    else
                                        .alert
                                            i.fa-solid.fa-circle-exclamation(title="Chỉ có thể hủy/thay đổi trước 2 giờ")

                            