extends ../../../layouts/default.pug

block main
    .block-main
        if(Role.quyen == "staff")
            .display-flex
                .btn-actions
                    a(
                        href= `${prefixadmin}/profile-medical`  
                        class="item-action" 
                    ) <i class="fa-solid fa-arrow-left"></i>
                h3(class="mb-4" style="padding-top: 8px;") Thông tin bệnh nhân
            .card.mb-3
                table.table(style="margin-bottom: 0")
                    tbody
                        tr
                            th(class="ant-descriptions-item-label" style="font-weight: bold" ) Bệnh nhân    
                            td(class="ant-descriptions-item-content" style="font-weight: bold;")  #{patient.fullName}
                            th(class="ant-descriptions-item-label") Ngày sinh
                            td(class="ant-descriptions-item-content") #{moment(patient.dateOfBirth).format("DD/MM/YYYY")}
                        tr
                            th(class="ant-descriptions-item-label") Điện thoại
                            td(class="ant-descriptions-item-content") #{patient.phone}
                            th(class="ant-descriptions-item-label") Email
                            td(class="ant-descriptions-item-content") 
                        tr
                            th(class="ant-descriptions-item-label") Địa chỉ
                            td(class="ant-descriptions-item-content") #{patient.address}
                            th(class="ant-descriptions-item-label") Giới tính
                            td(class="ant-descriptions-item-content") #{patient.sex === "male"? "Nam": "Nữ"}

            h3(class="mb-4") Lịch sử khám bệnh
            .card.mb-3
                table.table
                    thead(class="card-header")
                        tr(class="table-active")
                            th Ngày khám
                            th Bác sĩ
                            th Kết quả
                            th Lưu ý
                            th Đơn thuốc
                            th Tư liệu
                            th Hành động
                    tbody
                        tr 
                            td test