extends ../../../layouts/default.pug
include ../../../mixins/alert.pug

block main
    .block-main
        if(Role.quyen === "staff")
            +alert-success("5000")

            h3(class="mb-4") Quản lý hồ sơ bệnh nhân
            .mb-3
                .row 
                    .col-3
                        form(id="form-search")
                            .input-group
                                input(
                                    type="text"
                                    placeholder="Tìm kiếm"
                                    name="keyword"
                                    class="form-control"
                                    style="border-top-right-radius: 6px;border-bottom-right-radius: 6px;margin-right: 20px"
                                    value= keyword
                                )
                                .input-group-append
                                    button(
                                        class="btn btn-info"
                                        type="submit"
                                        style="height: 100%"
                                    ) <i class="fa-solid fa-magnifying-glass"></i> 
                    .col-9.text-end 
                        a(
                            href=`${prefixadmin}/profile-medical/create-patient`
                            class="btn btn-info"
                        ) + Tạo hồ sơ bệnh nhân
            .card.mb-3
                table(class="table ")
                    thead(class="card-header")
                        tr
                            th Tên bệnh nhân
                            th Ngày sinh
                            th Điện thoại
                            th Địa chỉ
                            th Lịch khám
                            th Hành động
                    tbody
                        each item, index in users 
                                tr 
                                    td #{item.fullName}
                                    td #{moment(item.dateOfBirth).format("DD/MM/YYYY")}
                                    td #{item.phone}
                                    td #{item.address} 
                                    td 
                                        .btn-actions
                                            a(
                                                href= `${prefixadmin}/             `  
                                                class="item-action" 
                                            ) <i class="fa-regular fa-eye"></i>
                                            a(
                                                href= `${prefixadmin}/             `  
                                                class="item-action" 
                                            ) <i class="fa-solid fa-plus"></i>
                                    td 
                                        .btn-actions
                                            a(
                                                href= `${prefixadmin}/             `  
                                                class="item-action" 
                                            ) <i class="fa-regular fa-eye"></i>
                                            a(
                                                href= `${prefixadmin}/             `  
                                                class="item-action" 
                                            ) <i class="fa-regular fa-pen-to-square"></i>
                