header.header 
    .container-fluid
        .row.align-items-center
            .col-6
                .inner-logo
                    a(href=`${prefixadmin}/home`) MEDICAL
                .inner-function     
                    div(class="function-person") #{Role.description}
            .col-2
                .clock
                    .clock-icon 
                        <i class="fa-regular fa-clock"></i>
                    .clock-time 
                        h3(id="clock-time-item") 
            .col-4
                div(class="text-end")
                    a(
                        href=`${prefixadmin}/my-account`
                        class="btn btn-light"
                        style="margin-right: 10px"
                    ) <i class="fa-regular fa-user"></i> #{User.fullName}
                    