.sider 
    .inner-menu 
        ul  
            if(Role.quyen === "admin")
                li 
                    a(
                        href=`${prefixadmin}/accounts` 
                        class="menu-item btn btn-light"
                    ) <i class="fa-regular fa-user"></i> Người dùng 
            li 
                a(
                    href=`${prefixadmin}/chats` 
                    class="menu-item btn btn-light"
                ) <i class="fa-brands fa-rocketchat"></i> Tin nhắn
            li 
                a(
                    href=`${prefixadmin}/auth/logout`
                    class="btn btn-danger btn-sm"
                ) Đăng xuất