extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
    .block-main
        +alert-success("5000")
        if (Role.quyen === "doctor")
            h3(class="mb-4") Tạo lịch họp
            .form-create    
                form(
                    action=`${prefixadmin}/calendar/meeting/create`
                    enctype="multipart/form-data"
                    method='POST'
                ) 
                    div(class="form-group")
                        label(for="subject") Chủ đề cuộc họp 
                            span.required ✳
                        input(
                            type="text"
                            class="form-control"
                            id="subject"
                            name="subject"
                            placeholder="Chủ đề cuộc họp"
                        )             
                        input(
                            type="hidden"
                            id="date"
                            name="date"
                            value= date.date
                        )  
                    div(class="form-group")
                        label(for="description") Mô tả cuộc họp 
                            span.required ✳
                        textarea(
                            rows="2"
                            class="form-control"
                            id="description"
                            name="description"
                            placeholder="Mô tả"
                        )
                    div(class="form-group")
                        label(for="date") Thời gian họp
                    div(class="form-group")
                        label(for="date") Thời gian bắt đầu
                            span.required ✳
                        input(
                            type="date"
                            class="form-control"
                            id="date"
                            name="date"
                            value=date.date
                            readonly  
                        ) 
                    div(class="form-group" style="display: flex; gap: 10px; width: 100%;")
                        div(class="form-group" style="width: 50%;")
                            label(for="startTime") Thời gian bắt đầu
                                span.required ✳
                            input(
                                type="time"
                                class="form-control"
                                id="startTime"
                                name="startTime"
                            ) 
                        div(class="form-group" style="width: 50%;")
                            label(for="endTime") Thời gian kết thúc
                                span.required ✳
                            input(
                                type="time"    
                                class="form-control"
                                id="endTime"
                                name="endTime"
                            ) 
                    div(class="form-group" )
                        label(for="room") Phòng họp
                            span.required ✳
                        select(name="room" id="room" class="form-control")
                                option(disabled selected) Chọn phòng họp
                                option(value="room1") Room 1 
                                option(value="room2") Room 2  
                                option(value="room3") Room 3  
                    div(class="form-group")
                        label(for="participants") Người tham gia
                            span.required ✳
                        select(name="participants" id="participants" class="form-control")
                                option(disabled selected) Chọn người tham gia
                                    each item in doctors
                                        option(value=item.id) #{item.fullName} - #{item.phone} 
                    div(class="form-group" style="width: 50%;")
                        label(for="files") Đính kèm
                        input(
                            type="file"    
                            class="form-control"
                            id="files"
                            name="files"
                            multiple
                        ) 
                    div(class="form-group")
                        button(
                            type="submit"
                            class="btn btn-info"
                        )  Tạo mới
                        button(
                            type="button" 
                            onclick="history.back();" 
                            class="btn btn-secondary"
                            style="margin-left: 10px; padding: 5px 10px; width: 82px;   "
                        ) Hủy
